html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Work Sans', sans-serif;
}
