.login {
    margin-top: 15vh;
}

.login-inner {
    max-width: 45rem;
}

#login-to-registration-link, #remember-me-link {
    text-decoration: none;
    color: #6568f4;
}

#route-to-main-icon {
    margin-right: 10px;
    color: #5258b6;
}

#route-to-main-text {
    text-decoration: none;
    color: #6e5efe;
}

.p-field {
    margin-top: 15px;
}

.login-controls {
    margin-top: 20px;
}

#sign-button {
    margin-top: 35px;
}