.registration {
    margin-top: 7vh;
    margin-bottom: 5vh;
}

.registration-inner {
    max-width: 45rem;
}

#create-account-button {
    margin-top: 35px;
}

#route-to-main-icon {
    margin-right: 10px;
    color: #5258b6;
}

#route-to-main-text {
    text-decoration: none;
    color: #6e5efe;
}

#username-help {
    display: flex;
}